---
import Image from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl" style="color: #3b82f6;">
        Krypton Scripts.
      </h2>
      <p class="text-lg leading-relaxed" style="color: #3410b8;">
        Krypton Scripts is a premium FiveM store offering high-quality scripts, mods, and resources to enhance your roleplay experience. We provide optimized, feature-rich, and easy-to-use solutions for server owners looking to elevate their gameplay. 🚀💻

        Upgrade your server with Krypton Scripts today! 🔥
      </p>
      <!-- Add the image here -->
      <img src="https://files.fivemerr.com/images/57f0c02b-a850-47c0-bd89-b758e5dc85d4.jpg" alt="Our Team" class="mt-8 rounded-lg shadow-lg" />
    </div>
    
  </Container>
</Layout>