---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/pricing.astro";

const pricing = [
  {
    name: "Weekly",
    price: "$70",
    popular: false,
    features: [
      "Basic Customizations",
      "Custom Economy Setup",
      "Assets Installation",
    ],
    button: {
      text: "Contact us",
      link: "https://dsc.gg/kryptongamehub",
    },
  },
  {
    name: "15 days",
    price: {
      monthly: "$120",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
    "Basic Customizations",
      "Custom Economy Setup",
      "Assets Installation",
      "Script Translation	",
    ],
    button: {
      text: "Contact us",
      link: "https://dsc.gg/kryptongamehub",
    },
  },
  {
    name: "Monthly",
    price: "$200",
    popular: false,
    features: [
    "Basic Customizations",
      "Custom Economy Setup",
      "Assets Installation",
      "Script Translation	",
    ],
    button: {
      text: "Contact us",
      link: "https://dsc.gg/kryptongamehub",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
